<div class="col-sm-12">

  <h1>Editar Cliente</h1>
  
  <a routerLink="/clientes" class="btn btn-default">Voltar</a>

  <form #f="ngForm" (ngSubmit)="editar()" novalidate>
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" class="form-control" [formControl]="nomeControl">
    </div>

    <div class="form-group">
      <label for="dataNascimento">Data de nascimento:</label>
      <input type="text" class="form-control" [formControl]="dataNascimentoControl">
    </div>

    <input type="hidden" [formControl]="idControl">

    <button class="btn btn-primary">Salvar</button>
  </form>
</div>
