<div class="col-sm-12">
  <a routerLink="/home" class="btn btn-default">Voltar</a>
</div>

<div class="col-sm-12">

  <h1>Clientes</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Data de nascimento</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.dataNascimento }}</td>
        <td>
          <button class="btn btn-warning" [routerLink]="['editar', cliente.id]">Editar</button>&nbsp;
          <button class="btn btn-danger" (click)="remove(cliente.id)">Remover</button>
        </td>
      </tr>
    </tbody>

  </table>
</div>